<a href="https://colab.research.google.com/github/Chandradithya8/Machine-Learning/blob/master/One_hot_encoding.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
df=pd.read_csv("/content/mercedesbenz.csv.txt",usecols=['X1','X2'])
df.head()

  X1  X2
0  v  at
1  t  av
2  w   n
3  t   n
4  v   n

In [4]:
for col in df:
  print(df[col].unique())

['v' 't' 'w' 'b' 'r' 'l' 's' 'aa' 'c' 'a' 'e' 'h' 'z' 'j' 'o' 'u' 'p' 'n'
 'i' 'y' 'd' 'f' 'm' 'k' 'g' 'q' 'ab']
['at' 'av' 'n' 'e' 'as' 'aq' 'r' 'ai' 'ak' 'm' 'a' 'k' 'ae' 's' 'f' 'd'
 'ag' 'ay' 'ac' 'ap' 'g' 'i' 'aw' 'y' 'b' 'ao' 'al' 'h' 'x' 'au' 't' 'an'
 'z' 'ah' 'p' 'am' 'j' 'q' 'af' 'l' 'aa' 'c' 'o' 'ar']

In [6]:
df.shape

(4209, 2)

In [10]:
pd.get_dummies(df).shape # using dummies we get more number of columns

(4209, 71)

In [11]:
for col in df:
  print(col,len(df[col].unique()),"labels")

X1 27 labels
X2 44 labels

In [19]:
a=df.X2.value_counts().sort_values(ascending=False).head(20)
a

as    1659
ae     496
ai     415
m      367
ak     265
r      153
n      137
s       94
f       87
e       81
aq      63
ay      54
a       47
t       29
k       25
i       25
b       21
ao      20
ag      19
z       19
Name: X2, dtype: int64

In [22]:
top_10_values=[x for x in a.head(10).index]
top_10_values

['as', 'ae', 'ai', 'm', 'ak', 'r', 'n', 's', 'f', 'e']

In [38]:
import numpy as np
def one_hot_encoding(df,variables,top_10_values):
  for label in top_10_values:
    df[variables+'_'+label]=np.where(df[variables]==label,1,0)

In [41]:
one_hot_encoding(df,'X2',top_10_values)
df.head()

/usr/local/lib/python3.6/dist-packages/pandas/core/ops/array_ops.py:253: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  res_values = method(rvalues)

   X1  X2  X2_as  X2_ae  X2_ai  X2_m  X2_ak  X2_r  X2_n  X2_s  X2_f  X2_e
0   0   0      0      0      0     0      0     0     0     0     0     0
1   0   0      0      0      0     0      0     0     0     0     0     0
2   0   0      0      0      0     0      0     0     0     0     0     0
3   0   0      0      0      0     0      0     0     0     0     0     0
4   0   0      0      0      0     0      0     0     0     0     0     0